.mainDash{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 90px 0 90px 0;
    background-color: rgb(235, 154, 80);
}
.assignmentBoard{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.assignmentsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
    
}
.mNAButton{
    width: 150;
}
.assignmentCard{
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    padding: 5px 5px 5px 5px;
}